@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 265 56% 10%;
    --card: 0 0% 100%;
    --card-foreground: 265 56% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 265 56% 10%;
    --primary: 265 56% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 265 56% 10%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 265 56% 40%;
    --accent: 319 9% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 265 56% 10%;
    --chart-1: 265 56% 10%;
    --chart-2: 319 9% 37%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 265 56% 8%;
    --foreground: 0 0% 95%;
    --card: 265 56% 8%;
    --card-foreground: 0 0% 95%;
    --popover: 265 56% 8%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0% 98%;
    --primary-foreground: 265 56% 10%;
    --secondary: 265 56% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 265 56% 15%;
    --muted-foreground: 0 0% 63%;
    --accent: 319 9% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 265 56% 20%;
    --input: 265 56% 20%;
    --ring: 0 0% 98%;
    --chart-1: 0 0% 98%;
    --chart-2: 319 9% 37%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
